<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.MyGuitarShopConnectionString"
            connectionString="Data Source=CEIT2551204X040\LOCAL;Initial Catalog=MyGuitarShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.MyGuitarShopConnectionString1"
            connectionString="Data Source=DANNY-LAPTOP\SQLEXPRESS01;Initial Catalog=MyGuitarShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.MyGuitarShopConnectionString2"
            connectionString="Data Source=DEONSANCHEZEB14;Initial Catalog=MyGuitarShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>